:root {
  --orange: #f96302;
  --lightgrey: #f8f8f8;
  --grey: #999;
  --not-black: #484b61;
}

body {
  background-color: var(--lightgrey);
  font-family: "Source Sans Pro", sans-serif;
  color: var(--not-black);
}

.movie__list {
  display: grid;
  padding: initial;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  grid-gap: 2em;
}

.movie__list > li {
  list-style: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: var(--orange);
  margin: initial;
  padding: 0.5em;
}

.button {
  border: 1px solid var(--orange);
  background-color: white;
  font-size: 1em;
  padding: 0.25em 1em;
  border-radius: 8%;
  color: var(--orange);
  font-size: 1.2em;
}

.button:active {
  background-color: var(--orange);
  color: white;
}
